body{
  background-color: #34495e;
}


h1, h2 {
font-family: cursive;
font-size: 3rem;
}

.prviDeo {
  background-color: #f4f7f7;
  text-align: center;
  margin: auto;
  padding: 150px;
  border-radius: 100%;
}

.drugiDeo{
  background-color: #aacfd0;
  text-align: center;
  margin: auto;
  padding: 120px;
  border-radius: 100%;
}

.treciDeo{
  background-color: #5da0a2;
  text-align: center;
  margin: auto;
  padding: 80px;
  border-radius: 100%;
}

.btn {
  background: #ff0faf;
  background-image: -webkit-linear-gradient(top, #ff0faf, #3d2bb8);
  background-image: -moz-linear-gradient(top, #ff0faf, #3d2bb8);
  background-image: -ms-linear-gradient(top, #ff0faf, #3d2bb8);
  background-image: -o-linear-gradient(top, #ff0faf, #3d2bb8);
  background-image: linear-gradient(to bottom, #ff0faf, #3d2bb8);
  -webkit-border-radius: 43;
  -moz-border-radius: 43;
  border-radius: 43px;
  text-shadow: 1px 2px 5px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ee00ff;
  background-image: -webkit-linear-gradient(top, #ee00ff, #d93434);
  background-image: -moz-linear-gradient(top, #ee00ff, #d93434);
  background-image: -ms-linear-gradient(top, #ee00ff, #d93434);
  background-image: -o-linear-gradient(top, #ee00ff, #d93434);
  background-image: linear-gradient(to bottom, #ee00ff, #d93434);
  text-decoration: none;
}
